<% @page_title = "#{h @school.title}" -%>

<% content_for :sidebar do -%>
  <h4><%= link_to "返回学校首页", schools_url %></h4>
<% end -%>

<p><%= link_to "查看详细信息", info_school_url(@school.id) %></p>

<h3>学校讨论区 <%= title_suffix %></h3>
<p><%= link_to "写新帖子", new_board_topic_url(@board) %></p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>标题</th>
    <th>作者</th>
    <th>回复</th>
    <th>写于</th>
  </tr>
  <% @topics.each do |topic| -%>
  <tr>
    <td><%= link_to topic.title, board_topic_url(@board, topic) %></td>
    <td><%= link_to topic.user.login, user_url(topic.user.id) %></td>
    <td><%= topic.posts_count %></td>
    <td><%= topic.created_at.to_date %></td>
  </tr>
  <% end -%>
</table>
<p><%= link_to "全部帖子", board_url(@board) %></p>