<% @page_title = "公 益 活 动" -%>

<% content_for :sidebar do -%>
  <h4>> <%= link_to "发布新活动", new_activity_path %></h4>
<% end -%>

<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>类型</th>
    <th>活动</th>
    <th>出发地</th>
    <th>目的地</th>
  </tr>
  <% @activities.each do |a| -%>
  <tr>
    <td><%= a.category_name %></td>
    <td><%= link_to a.title, activity_url(a.id) %></td>
    <td><%= a.departure.name %></td>
    <td><%= a.arrival.name %></td>
  </tr>
  <% end -%>
</table>