<% @page_title = "发布新活动" -%>

<% content_for :sidebar do -%>
<% end -%>

<div class="posting">
  <div class="block">
  <% form_for :activity, :url => activities_url do |f| -%>
  <p><label>类型</label>
    <select id="activity_category" name="activity[category]">
      <% Activity.categories.each_with_index do |p,i| -%>
        <option value="<%= i %>" <%= "selected=\"selected\"" if @activity.category==i %>><%= p %></option>
      <% end -%>
    </select>
  </p>
  <p><label>出发地</label><%= geo_select "activity", "departure" %></p>
  <p><label>目的地</label><%= geo_select "activity", "arrival" %></p>
  <p class="notice">以上三项提交之后不能修改</p>
  
  <%= render :partial => "form", :object => f %>  
  
  <p><label>&nbsp;</label><%= submit_tag "发 布" %></p>
  <% end -%>
  </div>
</div>
