<% @page_title = @activity.title -%>

<% content_for :sidebar do -%>
<% end -%>

<div style="width:200px;margin:5px;border:3px #ccc solid;float:right">
  <div style="float:right;margin:5px;">
    <%= avatar_for @activity.user, 'large' %>
  </div>
  <h3>重要信息</h3>
  <p><label>发起人</label><%= link_to @activity.user.login, user_url(@activity.user.id) %></p>
  <p><label>类型</label><%= @activity.category_name %></p>
  <p><label>行程</label><%= @activity.departure.name %> -> <%= @activity.arrival.name %></p>
  <p><label>地点</label><%= @activity.location %></p>
  <p><label>时间</label><%= @activity.start_at.to_date %> -> <%= @activity.end_at.to_date %></p>
  <p><label>报名截止</label><%= @activity.register_over_at.to_date %></p>
  <p><label>人均消费</label><%= @activity.expense_per_head %> 元</p>
  <p><label>预期人数</label><%= @activity.expect_strength %> 人</p>
</div>

<div class="operations">
  <% if @activity.edited_by current_user -%>
    <%= link_to "修改活动信息", edit_activity_url(@activity.id) %> | 
    <%= link_to "删除活动", activity_url(@activity.id), :confirm => "确定要删除这个活动?", :method => :delete %>
  <% end -%>
</div>

<div>
  <%= @activity.description_html %>
</div>
<div class="clear"></div>

<h3>活动讨论区 <%= title_suffix %></h3>
<p><%= link_to "写新帖子", new_board_topic_url(@board) %></p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>标题</th>
    <th>作者</th>
    <th>回复</th>
    <th>写于</th>
  </tr>
  <% @topics.each do |topic| -%>
  <tr>
    <td><%= link_to topic.title, board_topic_url(@board, topic) %></td>
    <td><%= link_to topic.user.login, user_url(topic.user.id) %></td>
    <td><%= topic.posts_count %></td>
    <td><%= topic.created_at.to_date %></td>
  </tr>
  <% end -%>
</table>
<p><%= link_to "全部帖子", board_url(@board) %></p>